---
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />

    <!-- Open Graph meta tags for social sharing -->
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:image' content='/assets/images/avatar.svg' />
    
    <!-- Twitter Card meta tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:site' content='@smallwinsapp' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content='/assets/images/avatar.svg' />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body class='bg-slate-900 text-gray-100'>
    <Navbar />

    <main>
      <slot></slot>
    </main>

    <Footer />
  </body>
</html>
